/* Update styles for the background color */
body {
  background-color: black;
  color: white;
}

a {
  color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}